* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	user-select: none;
}
body,
html {
	background-color: black;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#root {
	overflow: hidden;
	background-image: url("../img/introloadersafe.webp");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
	width: 100%;
	position: relative;
}

canvas {
	background-color: black;
	background-image: url("../img/introloadersafe.webp");
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	width: 100%;
	height: 100%;
}

.locations {
	opacity: 0;
	width: calc(100% + 1.25rem);
	left: -0.62rem;
	position: absolute;
	height: 10.9rem;
	bottom: -10.9rem;
	transition: bottom 0.4s ease-in-out, opacity 1s ease;
	display: flex;
	justify-content: center;
	list-style: none;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
}

.locations .container {
	z-index: 10;
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}

.locations #indicatorbtn {
	content: "";
	display: block;
	position: absolute;
	top: -2rem;
	left: 50%;
	transform: translateX(-50%);
	width: 5rem;
	height: 2rem;
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
	background: rgba(0, 0, 0, 0.4);
}

.locations #indicatorbtn:after {
	content: "";
	opacity: 0.5;
	display: block;
	position: absolute;
	height: 2rem;
	width: 2rem;
	transform-origin: top left;
	transition: rotate 0.4s ease-in-out;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	filter: invert(1);
	background-image: url("../img/chevron.svg") !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: 1rem !important;
}

.locations #indicatorbtn:hover {
	cursor: pointer;
}

.locations #indicatorbtn:hover:after,
#closeinfobtn:hover:after,
#closecommentsbtn:hover:after {
	opacity: 1;
}

#indicatorbtn.rotate180:after {
	rotate: 180deg;
}

.locations .container ul {
	min-width: 100%;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	display: flex;
	justify-content: center;
	list-style: none;
	position: absolute;
	left: 0;
}

.locations .container ul li {
	user-select: none;
	margin-bottom: 0.125rem;
	background-color: black;
	background-image: url("../img/loaderdotbig.webp");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.125rem;
	min-width: 13.75rem;
	font-weight: bold;
	font-size: 0.75rem;
	padding: 0.625rem;
	max-width: 13.75rem;
	aspect-ratio: 16/10;
	border-radius: 0.5rem;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.25rem 0.3125rem;
}

.locations .container ul li img {
	user-select: none;
	display: block;
	height: 300%;
	object-fit: cover;
	transition: scale 0.2s ease-in-out;
}

.locations .container ul li:hover {
	color: white;
	cursor: pointer;
	animation: flash 0.2s ease-in-out 1 forwards;
	outline: 0.25rem solid white;
}

.locations .container ul li:hover img {
	user-select: none;
	scale: 1.1;
}

.flash {
	animation: flash 0.2s ease-in-out 1 forwards;
}

@keyframes flash {
	0% {
		filter: brightness(2);
	}
	100% {
		filter: brightness(1);
	}
}

.locations .container ul li div {
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding-bottom: 0.875rem;
	font-size: 0.875rem;
	height: 50%;
	align-items: flex-end;
	justify-content: center;
	display: none;
	font-weight: normal;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
}

.locations .container ul li:hover div {
	display: flex;
}

.locations .container ul li.active div {
	display: flex;
	border-bottom: 0.1875rem solid royalblue;
}

canvas:hover {
	cursor: grab;
}

canvas:active {
	cursor: grabbing;
}

#video {
	z-index: -1000;
	position: abso;
}

canvas {
	filter: contrast(1) brightness(1) saturate(1);
}

#angleIndicator {
	position: absolute;
	top: 2.5rem;
	right: -0.625rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 3.2rem;
	height: 3.2rem;
	opacity: 0;
	transition: opacity 1s ease;
	font-size: 1.75rem;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 100%;
	color: white;
	z-index: 1000;
}

#angleIndicator:before {
	position: absolute;
	content: "";
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	rotate: 45deg;
	top: -0.1875rem;
	left: -0.1875rem;
	transform: skewX(16deg) skewY(16deg);
	transform-origin: center right;
	background: linear-gradient(-48deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 48%);
}

#angleIndicator:after {
	position: absolute;
	content: "";
	display: block;
	background: linear-gradient(0deg, rgba(105, 11, 11, 1) 0%, rgba(193, 20, 20, 1) 100%);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 100%;
	width: 1.125rem;
	height: 1.125rem;
}

#angleIndicator:hover,
#closeinfobtn:hover,
#commentsbtn:hover,
#closecommentsbtn:hover {
	cursor: pointer;
	background: black;
	animation: outlinepush 0.8s ease-out 1 forwards;
}

@keyframes outlinepush {
	0% {
		outline: 0rem solid rgba(0, 0, 0, 0.5);
	}
	100% {
		outline: 1rem solid rgba(0, 0, 0, 0);
	}
}

#settings {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(1.25rem);
	border-radius: 0.75rem;
	position: absolute;
	z-index: 1001;
	padding: 2.5rem;
	padding-right: 5rem;
	right: -40rem;
	transition: right 0.3s ease-in-out;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	top: 50%;
	transform: translateY(-50%);
	max-width: 40rem;
}

#settings .row {
	display: grid;
	grid-template-columns: 2fr 7fr 1fr;
	grid-gap: 0.625rem;
	border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.3);
	margin-top: 0.625rem;
	padding-bottom: 0.625rem;
}

#settings .row span:nth-child(3n) {
	text-align: right;
	color: white;
	font-weight: bold;
}

#settings input {
	background: transparent;
	color: white !important;
	box-shadow: none;
	border: none;
	width: 100%;
}

#settings input::placeholder,
#settings input {
	font-weight: bold;
	font-size: 1rem;
	color: white;
}

.icon-video {
	position: absolute;
	top: 0.625rem;
	right: 0.625rem;
	content: "";
	display: block;
	background-image: url(../img/icon-play.svg);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	z-index: 1;
	/* width: 4.4375rem; */
	background-color: white;
	height: 1.3125rem;
	padding-left: 1.75rem;
	line-height: 1.3125rem;
	padding-right: 0.5rem;
	color: black;
	text-align: right;
	border-radius: 0.25rem;
	filter: invert(1);
}

#reset {
	border-radius: 0.375rem;
	background: rgba(255, 255, 255, 0.2);
	padding: 0.625rem 1.25rem;
	margin-top: 1.25rem;
	text-align: center;
}

#reset:hover {
	animation: outlinepush 0.8s ease-out 1 forwards;
	cursor: pointer;
	filter: invert(1);
	color: white;
	background: black !important;
}

#settings .closebtn {
	width: 5rem;
	height: 100%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	content: "";
}
#settings .closebtn:after {
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	right: 0%;
	top: 50%;
	content: "";
	background: url("../img/chevron.svg");
	transform-origin: top center;
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: center center;
	filter: invert(1);
	rotate: 90deg;
	opacity: 0.5;
}

#settings .closebtn:hover {
	cursor: pointer;
}
#settings .closebtn:hover:after {
	opacity: 1;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
	outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
	background-color: #ffffff7c;
	border-radius: 1rem;
	height: 1rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: -0.25rem; /* Centers thumb on the track */
	background-color: #ffffff;
	border-radius: 1.5rem;
	height: 1.5rem;
	width: 1.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
	outline: 0.1875rem solid #fffb01;
	outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
	background-color: #ffffff7c;
	border-radius: 1rem;
	height: 1rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
	background-color: #ffffff;
	border: none; /*Removes extra border that FF applies*/
	border-radius: 1.5rem;
	height: 1.5rem;
	width: 1.5rem;
}

input[type="range"]:focus::-moz-range-thumb {
	outline: 0.1875rem solid #fffb01;
	outline-offset: 0.125rem;
}

.settingsbtn {
	opacity: 0;
	transition: opacity 1s ease;
	content: "";
	background-image: url("../img/icon-settings.svg") !important;
	background-repeat: no-repeat !important;
	background-position: center center;
	background-size: 1.125rem;
	position: absolute;
	top: 0.9rem;
	right: 4.6875rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 3.2rem;
	height: 3.2rem;
	font-size: 1.75rem;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 100%;
	z-index: 1000;
}

.settingsbtn:after {
	content: "";
	background-image: url("../img/icon-settings.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.125rem;
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: invert(1) brightness(1.5) contrast(1.3);
}

.settingsbtn:hover,
#fullscreenbtn:hover,
#sharebtn:hover,
#mapbtn:hover,
#infobtn:hover,
#likebtn:hover,
#commentbtn:hover,
#logo:hover,
.maplink:hover,
.marker:hover {
	cursor: pointer;
	background-color: black;
	animation: outlinepush 0.8s ease-out 1 forwards;
}

.rightbuttons {
	position: absolute;
	bottom: 12.175rem;
	right: 1.5625rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	opacity: 0;
}

#fullscreenbtn,
#sharebtn,
#mapbtn,
#infobtn,
#commentbtn,
#likebtn,
#logo,
.maplink,
.marker {
	transition: opacity 1s ease;
	opacity: 0;
	content: "";
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 3.2rem;
	height: 3.2rem;
	font-size: 1.75rem;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 100%;
	z-index: 1000;
}

#fullscreenbtn,
#sharebtn,
#infobtn,
#commentbtn,
#likebtn {
	opacity: 1;
}

.maplink,
.marker,
#mapbtn {
	position: absolute;
	top: -4.375rem;
}

#logo {
	content: "";
	top: 0.9rem;
	left: 0.9rem;
	z-index: 2000;
	display: block;
	opacity: 1;
	position: absolute;
}

#logo div {
	width: 100%;
	height: 100%;
	border-radius: 32rem;
	overflow: hidden;
}
#logo div,
#logo div img {
	width: 100%;
}
#infobtn {
	text-align: center;
	display: none;
	color: white;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 3.2rem;
}
#commentbtn {
	text-align: center;
	display: block;
	margin-bottom: 1.3rem;
}

#commentbtn .amount {
	pointer-events: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -1.4375rem;
	color: white;
	font-size: 0.8125rem;
	filter: drop-shadow(0 0.0625rem 0.25rem black);
	text-align: center;
}

#commentbtn:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/icon-comment.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	filter: invert(1);
}

#likebtn {
	text-align: center;
	display: block;
	margin-bottom: 1.3rem;
}

#likebtn .amount {
	pointer-events: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -1.4375rem;
	color: white;
	font-size: 0.8125rem;
	filter: drop-shadow(0 0.0625rem 0.25rem black);
	text-align: center;
}

#likebtn:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/icon-heart.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	filter: invert(1);
}

.liked {
	background-color: rgba(233, 15, 15, 0.979) !important;
}

#fullscreenbtn:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/icon-maximize.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.125rem;
	filter: invert(1);
}

#sharebtn:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/icon-share.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.1rem;
	filter: invert(1);
}

.fullscreen:after {
	background-image: url("../img/icon-minimize.svg") !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.125rem;
}

#mapbtn {
	left: 1.5625rem;
	z-index: 201;
}

#mapbtn:after {
	content: "";
	display: block;
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/icon-map.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	filter: invert(1);
}

#zoombtn {
	transition: opacity 1s ease;
	opacity: 0;
	position: absolute;
	z-index: 10;
	top: -8.75rem;
	left: -0.0625rem;
}
#zoombtn input {
	rotate: -270deg;
	width: 6.25rem;
}

#fullscreenbtn .hint,
#sharebtn .hint,
#commentbtn .hint,
#likebtn .hint,
.settingsbtn .hint,
#infobtn .hint,
#mapbtn .hint,
#logo .hint,
.maplink .hint,
.marker .hint {
	position: absolute;
	opacity: 0;
	right: 0;
	top: 0;
	font-style: normal;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 0.875rem;
	font-weight: 500;
	border-radius: 2rem;
	white-space: nowrap;
	line-height: 3.25rem;
	padding-left: 1.25rem;
	padding-right: 3.75rem;
	transition: opacity 0.5s ease-in-out, width 0.3s ease-in-out;
	display: none;
	width: 0;
	z-index: -1;
}

#mapbtn .hint,
#logo .hint,
.maplink .hint,
.marker .hint {
	left: 0;
	right: auto;
	padding-right: 1.25rem;
	padding-left: 3.75rem;
}

.linktextleft .hint {
	left: auto;
	right: 0;
	padding-right: 3.75rem;
	padding-left: 1.25rem;
}

@keyframes expandWidth {
	0% {
		opacity: 0;
		width: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		width: auto;
	}
}

#fullscreenbtn:hover .hint,
#sharebtn:hover .hint,
#mapbtn:hover .hint,
#commentbtn:hover .hint,
#likebtn:hover .hint,
.settingsbtn:hover .hint,
#infobtn:hover .hint,
#logo:hover .hint,
.maplink:hover .hint,
.marker:hover .hint {
	display: inline-block;
	animation: expandWidth 0.1s 1 forwards;
	opacity: 1;
}

#map {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.5rem);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#map #mapimage {
	height: calc(100% - 5rem);
	width: calc(100% - 5rem);
	position: relative;
}
#map img {
	object-fit: contain !important;
	width: 100%;
	height: 100%;
	position: relative;
}

#map .maplink {
	opacity: 1;
}

#map .maplink:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../img/chevron.svg");
	filter: invert(1);
	background-repeat: no-repeat;
	background-size: 1.3125rem;
	background-position: center center;
}

#mapimage {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#info,
#comments {
	display: none;
	position: absolute;
	backdrop-filter: blur(1.25rem);
	top: 0;
	right: -30.75rem;
	z-index: 2010;
	background-color: rgba(0, 0, 0, 0.85);
	height: 100%;
	width: 28.75rem;
}

#comments {
	padding-right: 0rem;
	backdrop-filter: blur(1.25rem) invert(1) grayscale(1);
	background-color: rgba(255, 255, 255, 0.85);
}

#comments .amount-comments {
	text-align: center;
	color: black;
	display: block;
	line-height: 5rem;
	font-weight: bold;
}

.comment,
.writecomment {
	font-size: 1rem;
	color: black;
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-gap: 1rem;
	margin-bottom: 1.25rem;
}

.replies {
	color: black;
	font-size: 0.8rem;
	font-weight: 500;
	margin-left: 3.2rem;
	margin-bottom: 2.5rem;
}
.replies:hover {
	cursor: pointer;
	color: royalblue;
}
.writecomment {
	border-top: 0.0625rem solid #d2d2d2;
	padding: 3.2rem 1.25rem 0.625rem 1.25rem;
}
.writecomment textarea {
	resize: none;
	font-size: 0.9rem;
	font-family: "Poppins";
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	line-height: 1.2rem;
	border-radius: 6.25rem;
	border: none;
	background: #e1e1e1;
	padding-left: 0.9rem;
	padding-right: 0.9rem;
}

.comment .thumb,
.writecomment .thumb {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	background: #e1e1e1;
}

.comment .profilename {
	user-select: text;
	font-weight: 600;
	top: -0.5rem;
	position: relative;
	color: rgb(160, 160, 160);
	font-size: 0.8rem;
}

.comment .timeago {
	user-select: text;
	color: rgb(160, 160, 160);
	font-size: 0.75rem;
	font-weight: 300;
}

.comment .replybtn {
	color: rgb(160, 160, 160);
	font-size: 0.8rem;
	font-weight: 600;
}

.comment .replybtn:hover,
.comment .profilename:hover {
	color: royalblue;
}

.comment .message {
	user-select: text;
	font-size: 0.9rem;
	line-height: 1.2rem;
	margin-top: -0.75rem;
	padding-bottom: 0.25rem;
	font-weight: 500;
	color: black;
}

.comment .likecomment {
	float: right;
	font-size: 0.75rem;
	padding-left: 1.5rem;
	position: relative;
	color: rgb(160, 160, 160);
	top: 0.25rem;
}

.comment .likecomment:hover svg {
	scale: 1.2 !important;
}

.comment .likecomment svg {
	width: 1.25rem;
	top: -0.0625rem;
	position: relative;
	margin-right: 0.375rem;
	display: inline;
	float: left;
	opacity: 0.2;
}

.comment .likedcomment svg {
	opacity: 1;
	fill: rgba(233, 15, 15, 0.979);
	animation: likecomment 0.5s ease-in-out 1 forwards;
}
@keyframes likecomment {
	0% {
		fill: rgba(129, 129, 129, 1);
		opacity: 0.5;
		scale: 0.8;
	}
	20% {
		scale: 1.3;
	}
	40% {
		scale: 0.9;
	}
	100% {
		fill: rgba(233, 15, 15, 0.979);
		opacity: 1;
		scale: 1;
	}
}
.comment a {
	text-decoration: none;
}

.comment .creator {
	font-weight: 600;
	color: royalblue;
	margin-left: 0.3125rem;
}
.comment .repliedto {
	display: flex;
}
.comment .replyto {
	font-weight: 600;
	margin-left: 0.3125rem;
}

.infoshow,
.commentshow {
	display: block !important;
	right: 0 !important;
}

.reply .thumb {
	width: 2rem;
	height: 2rem;
}
#info #resizer {
	content: "";
	position: absolute;
	left: -0.5rem;
	top: 0;
	width: 1rem;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

#info #resizer:after {
	outline: 0.325rem solid rgba(0, 0, 0, 0.4);
	position: absolute;
	content: "";
	display: none;
	width: 0.75rem;
	height: 3.2rem;
	border-radius: 1rem;
	background: #3e3f3e;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: 0.2s ease-in-out;
}

#info #resizer:hover {
	opacity: 1;
	cursor: w-resize;
	background: rgba(0, 0, 0, 0.4);
}
#info #resizer:hover:after {
	display: block;
}

#info .container,
#comments .container {
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 1.25rem;
	color: white;
	padding-bottom: 2.5rem;
}

#info .container {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	position: absolute;
	top: 5rem;
	height: calc(100% - 5rem);
}

#info #info-details {
	display: none;
}

.show-loc,
.show-info {
	padding: 1.5rem;
	color: white;
	font-weight: 500;
	line-height: 1.8rem;
	border-bottom: 0.2rem solid transparent;
	display: inline;
	float: left;
	opacity: 0.5;
}

.show-loc:hover,
.show-info:hover {
	cursor: pointer;
	opacity: 1;
}

.showactive {
	opacity: 1;
	border-bottom: 0.2rem solid white;
}

#comments .container {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
	height: calc(100% - 11.875rem);
}

#info .container p,
.marker-container p {
	user-select: text;
	line-height: 1.5rem;
	margin-bottom: 1.25rem;
}

#info .container p a,
.marker-container p a {
	user-select: text;
	color: white;
	padding: 0.25rem 1rem 0.25rem 0.375rem;
	border-radius: 0.25rem;
	background-color: rgba(255, 255, 255, 0.2);
}
#info .container p a:after,
.marker-container p a:after {
	opacity: 0.5;
	background-image: url("../img/icon-link.svg");
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 1.125rem;
	display: inline-block;
	position: relative;
	right: -0.5rem;
	top: 0.125rem;
	filter: invert(1);
	content: "";
	width: 1rem;
	height: 1rem;
}
#info .container p a:hover,
.marker-container p a:hover {
	background: white;
	color: black;
	text-decoration: none;
}

#info .container p a:hover:after,
.marker-container p a:hover:after {
	filter: invert(0);
	opacity: 1;
}

#info .container .button,
.marker-container .button {
	color: White;
	text-decoration: none;
	border-radius: 0.375rem;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0.625rem 1.25rem;
	margin-top: 1.25rem;
	text-align: center;
	margin-bottom: 1.25rem;
	position: relative;
}

[data-id].button {
	padding: 0.625rem 2.5rem 0.625rem 1.25rem;
}

[data-id].button:after {
	display: block;
	filter: invert(1);
	content: "";
	position: absolute;
	width: 1rem;
	height: 1rem;
	right: 0.625rem;
	top: 0.625rem;
	rotate: 90deg;
	background-image: url("../img/chevron.svg");
	background-position: center center;
	background-size: 0.875rem;
}

#info .container .button:hover,
.marker-container .button:hover {
	animation: outlinepush 0.8s ease-out 1 forwards;
	cursor: pointer;
	filter: invert(1);
	color: white;
	background: black !important;
}

#info .container ul,
.marker-container ul {
	margin-left: 1.25rem;
	margin-bottom: 1.25rem;
}
#info .container ul li,
.marker-container ul li {
	user-select: text;
	line-height: 1.5rem;
}

#info .container img,
#info .container iframe,
.marker-container img,
.marker-container iframe {
	width: 100%;
	object-fit: contain;
	margin-bottom: 1.25rem;
}

#info .container img {
	max-width: 40rem;
	display: inline;
}

#info .container img:hover {
	cursor: pointer;
	animation: flash 0.3s ease-in-out;
}

#info .container hr,
.marker-container hr {
	border: 0.0625rem solid rgba(255, 255, 255, 0.2);
	margin-bottom: 1.25rem;
	width: 100%;
}

#info .container h1,
.marker-container h1 {
	user-select: text;
	color: white;
	font-size: 2.625rem;
	margin-bottom: 1.25rem;
}
#info .container h2 {
	font-size: 2.0625rem;
}
#info .container h3 {
	font-size: 1.625rem;
}
#info .container h4 {
	font-size: 1.25rem;
}
#closeinfobtn,
#closecommentsbtn {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	background: rgba(0, 0, 0, 0.4);
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 100%;
	z-index: 200;
	content: "";
}
#closeinfobtn:after,
#closecommentsbtn:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/chevron.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1rem;
	rotate: 90deg;
	content: "";
	display: block;
	filter: invert(1);
	opacity: 0.5;
}

#videoplayer {
	left: 50%;
	position: absolute;
	height: 3.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	border-radius: 0.75rem;
	top: -7.5rem;
	transition: bottom 0.4s ease-in-out, opacity 1s ease;
	display: none;
	justify-content: center;
	list-style: none;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	width: 50%;
	min-width: 13.75rem;
	max-width: 60%;
	transform: translateX(-50%);
}

#captionselect {
	display: none;
	float: left;
	background-image: url("../img/icon-ccoff.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2rem;
	width: 3.75rem;
	height: 3.75rem;
	filter: invert(1);
	position: relative;
}

.on {
	background-image: url("../img/icon-ccon.svg") !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2rem;
}

#captionselect:hover {
	cursor: pointer;
}

#captionselect ul {
	display: none;
	position: absolute;
	bottom: 100%;
	right: 0;
	list-style: none;
	background: white;
	border-radius: 0.5rem;
}
#captionselect ul li {
	border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
	display: block;
	padding: 0.625rem 1.25rem;
	border-left: 0.375rem solid transparent;
	white-space: nowrap;
	color: gray;
}

#captionselect ul li:hover {
	color: black;
	cursor: pointer;
}

#captionselect ul .active {
	background: rgb(220, 220, 220);
	border-left: 0.375rem solid black;
	color: black;
}

#playvideo {
	background-image: url("../img/icon-playbig.svg");
	background-position: center center;
	background-size: 1.75rem;
	background-repeat: no-repeat;
	display: block;
	content: "";
	width: 3.75rem;
	height: 3.75rem;
	float: left;
	filter: invert(1);
	margin-right: 0.625rem;
}

#playvideo:hover {
	cursor: pointer;
}

.playing {
	background-image: url("../img/icon-pause.svg") !important;
}

#currenttime {
	line-height: 3.75rem;
	color: white;
	margin-left: 0.625rem;
	margin-right: 0.625rem;
	min-width: 4.0625rem;
}
#caption {
	position: absolute;
	bottom: 2.5rem;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.8);
	color: white;
	min-width: 20rem;
	max-width: 80%;
	z-index: 100;
}

#caption p {
	text-align: center;
	padding: 0.625rem 1.25rem;
	font-size: 2rem;
}

#labels {
	z-index: 1;
	position: absolute;
}
.marker {
	pointer-events: all !important;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
	z-index: 9999;
}

.marker-container {
	color: white;
	text-decoration: none;
	font-size: 0.875rem;
	display: none;
	width: 22.5rem;
	max-height: 32.5rem;
	overflow-y: auto;
	background: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(1.25rem);
	overflow-x: hidden;
	left: 3.75rem;
	position: absolute;
	padding: 1.25rem;
	border-radius: 0.5rem;
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
	padding-bottom: 2.5rem;
}

.marker img {
	width: 100%;
}

.infodot {
	background: rgba(255, 255, 255, 0.8);
}
.infodot:before {
	transform-origin: top left;
	display: block;
	content: "";
	width: 3.2rem;
	height: 3.2rem;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 3.2rem;
	border: 0.375rem solid white;
	animation: infodot 1s ease-out infinite;
	position: absolute;
	pointer-events: none;
}

.infodot:hover:before {
	animation: none;
	border: none;
}
@keyframes infodot {
	0% {
		opacity: 1;
		scale: 1;
	}
	60% {
		opacity: 0;
		scale: 1.2;
	}
	100% {
		opacity: 0;
		scale: 1.25;
	}
}

.extlink:after {
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/icon-link.svg");
	background-size: 1.75rem;
	background-repeat: no-repeat;
	background-position: center center;
	filter: invert(1);
}

.intlink:after {
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/chevron.svg");
	background-size: 1.3125rem;
	background-repeat: no-repeat;
	background-position: center center;
	filter: invert(1);
}

.infodot:after {
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/icon-text.svg");
	background-size: 1.75rem;
	background-repeat: no-repeat;
	background-position: center center;
}

.infodot:hover {
	background-color: white;
}
.infodot:hover:after {
	background-color: white;
	border-radius: 100%;
}

.rootfullscreen {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	max-height: 100% !important;
	z-index: 100000000 !important;
}

@media screen and (max-width: 40rem) {
	#caption p {
		font-size: 0.9rem;
	}
	#locations {
		height: 8.4375rem;
		bottom: -8.4375rem;
	}
	.locations .container ul li {
		min-width: 10rem;
		max-width: 10rem;
	}

	.locations .container ul li div {
		font-size: 0.6875rem;
	}

	.marker-container {
		width: 18.75rem;
		max-height: 21.875rem;
		padding-bottom: 1.875rem;
	}

	#comments,
	#info {
		width: 21.25rem;
		max-width: 21.25rem !important;
	}
	.comment .message,
	.writecomment textarea,
	#info .container p,
	.marker-container p,
	#info .container ul li,
	.marker-container ul li,
	.button {
		font-size: 0.75rem;
		line-height: 1rem;
	}
	#info .container h1,
	.marker-container h1 {
		font-size: 2rem;
	}

	#fullscreenbtn .hint,
	#commentbtn .hint,
	#likebtn .hint,
	.settingsbtn .hint,
	#infobtn .hint,
	#mapbtn .hint,
	#logo .hint,
	.maplink .hint,
	.marker .hint {
		font-size: 0.75rem;
		font-weight: 500;
	}
}
