* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
canvas {
	display: block;
	width: 100%;
	height: 100%;
}

.locations {
	width: calc(100% + 20px);
	left: -10px;
	position: fixed;
	height: 175px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	list-style: none;
	background: rgba(0, 0, 0, 0.4);
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
	z-index: 1000;
}

ul {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: center;
	list-style: none;
	position: absolute;
	left: 0;
}

ul li {
	user-select: none;
	margin-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
	max-width: 220px;
	aspect-ratio: 16/10;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 5px;
}

ul li img {
	user-select: none;
	display: block;
	height: 300%;
	object-fit: cover;
	transition: scale 0.2s ease-in-out;
}

ul li:hover {
	color: white;
	cursor: pointer;
	animation: flash 0.2s ease-in-out 1 forwards;
	outline: 4px solid white;
}

ul li:hover img {
	user-select: none;
	scale: 1.1;
}

.flash {
	animation: flash 0.2s ease-in-out 1 forwards;
}

@keyframes flash {
	0% {
		filter: brightness(2);
	}
	100% {
		filter: brightness(1);
	}
}

ul li div {
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding-bottom: 14px;
	font-size: 14px;
	height: 50%;
	align-items: flex-end;
	justify-content: center;
	display: none;
	font-weight: normal;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
}

ul li:hover div {
	display: flex;
}

ul li.active div {
	display: flex;
}

canvas:hover {
	cursor: grab;
}

canvas:active {
	cursor: grabbing;
}

#video {
	z-index: -1000;
	position: fixed;
}
